## Tercera entrega Pandas

### Serie de tiempo
**Indice igual al año de los juegos olímpicos**

In [56]:
import pandas as pd
import numpy as np

# leo el archivo con encoding latin_1 porque tiene caractéres fuera el utf-8
archivo = pd.read_csv("files/Summer-Olympic-medals-1976-to-2008.csv", encoding="latin_1") 

# explorar DataFrame
# archivo.head(6)
# print(archivo.dtypes)
# print(archivo.shape)
# print(archivo.columns)

# completo los NAN
archivo["Year"] = archivo["Year"].fillna(0)
years = archivo["Year"].astype(np.int32)
archivo.index = years
archivo.head()

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
Year,,,,,,,,,,,
1976,Montreal,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1976,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
1976,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
1976,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
1976,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze

### Separo los nombre de los apellidos por coma

In [57]:
archivo[["LastName", "Name", "Name2"]] = archivo["Athlete"].str.split(",", expand=True)

archivo = archivo[['City', 'Year', 'Sport', 'Discipline', 'Event', 'Athlete', 'Gender',
       'Country_Code', 'Country', 'Event_gender', 'Medal', 'LastName', 'Name']]
archivo.head()

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal,LastName,Name
Year,,,,,,,,,,,,,
1976,Montreal,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver,KÖHLER,Christa
1976,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze,KOSENKOV,Aleksandr
1976,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold,BOGGS,Philip George
1976,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver,CAGNOTTO,Giorgio Franco
1976,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze,WILSON,Deborah Keplar

### Resumen de medidas, qué país ganó mas medallas

In [72]:
# Top muestra el país con más medallas e freq la cantidad
print(archivo['Country'].describe())

count             15316
unique              127
top       United States
freq               1992
Name: Country, dtype: object

### Tabla con la cantidad de medallas de los hombres por año

In [67]:
men_medals = archivo[(archivo["Gender"] == "Men")]
men_medals["Year"].astype(np.int32).value_counts()

2000    1126
2008    1110
1992    1105
2004    1099
1996    1082
1988    1011
1984     973
1980     958
1976     924
Name: Year, dtype: int64